<% include ./partials/header %>
<% include ./partials/backgroundPic %>

<h1 class="formTitle">Login to YelpCamp!</h1>

<div class="formSize footerSpace">
  <form action="/login" method="POST">
    <div class="form-group">
      <label>Your Username</label>
      <input autofocus class="form-control" type="text" placeholder="username" name="username">
    </div>
    <div class="form-group">
      <label>Your Password</label>
      <input class="form-control" type="password" placeholder="password" name="password">
    </div>
    <div class="form-group">
      <em><a class="textLink" href="/forgotpw">I Forgot My Password&#8230;</a></em>
    </div>

    <div class="form-group row">
      <div class="btn-group col-12">
        <a class="btn btn-primary" href="/auth/facebook"><i class="fab fa-facebook-f"></i> Login</a>
        <a class="btn btn-primary" href="/campgrounds"><i class="fab fa-twitter"></i> Login</a>
        <a class="btn btn-danger" href="/users"><i class="fab fa-google"></i> Login</a>
      </div>
    </div>

    <% include ./partials/formSubmit %>

  </form>
</div>

<% include ./partials/footer %>