<% include ./partials/header %>
<% include ./partials/backgroundPic %>

<h1 class="formTitle">Login to YelpCamp!</h1>

<div class="formSize">
  <form action="/login" method="POST">
    <div class="form-group">
      <label>Your Username</label>
      <input autofocus class="form-control" type="text" placeholder="username" name="username">
    </div>
    <div class="form-group">
      <label>Your Password</label>
      <input class="form-control" type="password" placeholder="password" name="password">
    </div>
    <div class="form-group">
      <em><a class="textLink" href="/forgotpw">I Forgot My Password&#8230;</a></em>
    </div>

    <% include ./partials/formSubmit %>

  </form>
</div>

<% include ./partials/footer %>