<% include ./partials/header %>
<% include ./partials/backgroundPic %>

<h1 class="formTitle">Reset Password!</h1>

<div class="formSize footerSpace">
  <p>Almost there! Submit a new password and you should be all set.</p>

  <form action="/resetpw/<%= token %>" method="POST">
    <div class="form-group">
      <label for="password">New Password</label>
      <input class="form-control" type="password" placeholder="New password" name="password" value="" autofocus>
    </div>
    <div class="form-group">
      <label>Confirm New Password</label>
      <input class="form-control" type="password" placeholder="Confirm new password" name="confirm" value="">
    </div>

    <% include ./partials/formSubmit %>

  </form>
  <p>
    <em>For your security, this reset token expires after one hour.</em>
  </p>
</div>

<% include ./partials/footer %>