<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<header class="jumbotron">
  <h1>Welcome to YelpCamp!</h1>
  <h2>Explore our hand-picked campgrounds</h2>
  <a class="btn btn-dark" href="/campgrounds/new" id="addCamp">Add a New Campground <i class="fas fa-map-marked-alt"></i></a>
</header>

<div class="row">
  <% campgrounds.forEach(function(campground) { %>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <a href="/campgrounds/<%= campground._id %>" class="textLink">
          <img class="card-img" src="<%= campground.image %>" alt="nada">
          <div class="card-body">
            <h3 class="card-title"><%= campground.name %></h3>
            <p class="cardExcerpt"><small><%- campground.description.substring(0, 35) %>&#8230;</small></p>
          </div>
        </a>
      </div>
    </div>
  <% }); %>
</div>

<% include ../partials/paginate %>
<% include ../partials/footer %>