<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<div class="row">
  <div class="col-12">
    <h1 class="formTitle">Create a New Campground!</h1>
    <div class="formSize footerSpace">
      <!-- enctype gives multer middleware access to form input -->
      <form action="/campgrounds" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Campground Name</label>
          <input autofocus class="form-control" type="text" placeholder="name" name="campground[name]">
        </div>
        <div class="form-group">
          <label>Campground Location</label>
          <input id="placesInput" class="form-control" type="text" placeholder="Yellowstone National Park, WY" name="location">
        </div>
        <div class="form-group">
          <label>Price per Night ($)</label>
          <input class="form-control" type="number" placeholder="price" name="campground[price]" min="0" step="0.01">
        </div>

        <!-- custom-file JS and styling based on tut by Osvaldas Valutis at https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ -->
        <div class="form-group">
          <input type="file" name="image" id="image" class="inputfile" accept="image/*" required/>
          <label for="image" class="btn btn-info btn-block"><i class="fas fa-cloud-upload-alt"></i> <span>Upload (.jpg .jpeg .png)</span></label>
        </div>

        <div class="form-group">
          <label>Campground Description</label>
          <textarea class="form-control" type="text" placeholder="Share a description of the new campground." name="campground[description]" cols="30" rows="5"></textarea>
          <small></small>
        </div>

        <% include ../partials/formSubmit %>

      </form>
    </div>
  </div>
</div>

<!-- initialize data for Google Places API for dropdown -->
<% include ../partials/googlePlacesInit %>
<% include ../partials/footer %>