/*based on https://github.com/nax3t/background-slider*/
/*for robust cycling etc. see http://jquery.malsup.com/cycle2/*/
body {
  background-color: #002B04;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.navbar {
  z-index: 1;
  position: relative;
}

.landing-tent {
  color: white;
  fill: white;
  opacity: .7;
  height: 35vh;
  transition: all 0.3s ease-out;
}

.landing-tent:hover {
  fill: #39C745;
  opacity: .9;
  transition: all 0.3s ease-in;
}

#landing-title {
  /*z-index places items above or below other items; in this case the title and view button appear above anything with a z-index less than one; to work it requires position other than "static" (the default)*/
  z-index: 1;
  position: relative;
  text-align: center;
  /*position title and view button according to vh ("view height"), a percentage of what the viewer sees (responsive)*/
  padding-top: 5vh;
  color: #fff;
}

#landing-title h1 {
  /*size responsively via vw ("view width")*/
  font-size: 20vw;
  font-weight: bolder;
}

#landing-title h2 {
  font-size: 6vw;
  font-weight: bolder;
  margin-bottom: .5em;
}

.shadeOpText {
  text-shadow:  0 0 3px #1B2B34,
                0 0 7px #1B2B34;
  opacity: .8;
}

.slideshow {
  /*fill page*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  /*positioned beneath everything with z-index greater than zero*/
  z-index: 0;
  position: fixed;
}

.slideshow li {
  /*fill page with pic*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*cover entire page with pic*/
  background-size: cover;
  /*center pic*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*start at zero, will fade to 1 via animation*/
  opacity: 0;
  /*positioned beneath everything with z-index greater than zero*/
  z-index: 0;
  position: absolute;
  /*animation name, length, transition speed (in this case even speed from beginning to end), number of loops*/
  animation: slideAnimation 50s linear infinite; 
}

/*add pic to each list item, 10sec animation delay between each*/
.slideshow li:nth-child(1) {
  background-image: url(https://res.cloudinary.com/nahnahgames/image/upload/v1532818384/yelp_camp/landingPage/mQj1JmAk_54.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(https://res.cloudinary.com/nahnahgames/image/upload/v1532818384/yelp_camp/landingPage/qr7tsSwDOg0.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) {
  background-image: url(https://res.cloudinary.com/nahnahgames/image/upload/v1532818384/yelp_camp/landingPage/mgJSkgIo_JI.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) {
  background-image: url(https://res.cloudinary.com/nahnahgames/image/upload/v1532818308/yelp_camp/landingPage/63RnGWHVIXs.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) {
  background-image: url(https://res.cloudinary.com/nahnahgames/image/upload/v1532818382/yelp_camp/landingPage/Ta0A1miYZKc.jpg);
  animation-delay: 40s; 
}

/*add photo credit to each list item, 10sec animation delay*/
.slideshow li:nth-child(1) div {
}
.slideshow li:nth-child(2) div {
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) div {
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) div {
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) a {
  animation-delay: 40s; 
}

/*style and animation for unsplash logo*/
.unsplashLogo-uri {
  /*SVG embedded here for DRY coding*/
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z" style="fill:white"/></svg>');
  height: 12px;
  width: auto;
  position:relative;
  vertical-align:middle;
  top:-1px;
  display:inline-block;
  padding:4px 6px;
  background-repeat: no-repeat;
}

.logoSlide {
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px; 
  bottom: 10px;
  right: 10px;
  opacity: 0;
  position: absolute;
  animation: slideAnimation 50s linear infinite; 
}

/*style for unsplash logo*/
.logoInline {
  display:inline-block;
  padding:2px 3px;
}

/*style for unsplash logo*/
.logoDesign {
  height:12px;
  width:auto;
  position:relative;
  vertical-align:middle;
  top:-1px;
  fill:white;
}

/*@keyframes animation rule: fades in and out at 5s interval overlap between each pic based on 10s delay length and calculated percentage here*/
/*for tut: https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068*/
@keyframes slideAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* for older browsers: .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}